
body
{

	margin:0px;
	background-color:#f7f6f1;
    font-family: "Roboto", sans, sans-serif, serif;
    font-size: 16px;
    
}

a 
{

	color: #1c6280;

}

a:hover
{

	color: #d54e21;

}

#header
{

	width:100%;
	height:52px;
	color:#000;
	font-size:22px;
	font-family:"Roboto", sans, serif;
	/*background-image:url('../images/background.png');
	background-position:top;
	background-repeat:repeat-x;*/
	background-color:#e1ebed;
	line-height: 47px;

}

#title_phango
{
	font-size:28px;
	padding-left:15px;
	color: #555555;
    font-family:"Roboto", sans, serif;
	/*font-style:italic;*/
	/*text-shadow:#000000 1px 1px 1px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=130, Strength=4);*/
	
}

#title_framework
{
	
	font-size:28px;
	padding-right:15px;
	color:#ff9b2f;
	/*text-shadow:#000000 1px 1px 1px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=130, Strength=4);*/
	
}

h1, h2
{

	font-family:"Roboto", sans, serif;
    border: solid #cbcbcb;
    border-width: 0px  0px 1px 1px;
	font-size:26px;
	color:#333333;
    margin:0px 0px 20px 0px;
    padding:5px 10px;
	font-weight:normal;
    background: #e6e6e6;

}

h2 {

    font-size:20px;
    background: transparent;
    color: #000;
    padding: 0px;
    border-width:0px;
    margin: 4px 0px;

}

h1 {

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    font-size:20px;
    padding:3px 10px;
    font-weight: 600;

}

p {

    border: solid #cbcbcb;
    margin-top:4px;
    border-width:0px;

}

#logo_header
{

	

}

#center_body {

	background-position:left;
	background-repeat:repeat-y;
	height: auto !important;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	height: auto !important;
	min-height:300px;
	position:relative;
	

}

#menu
{

	float:left;
	width:20%;
	margin-right:0px;
	position:relative;
/*    border:solid #cccccc;
    border-width:0px 1px 1px 0px;*/
    box-sizing: border-box;
/*    padding-bottom: 100px;*/
    overflow:hidden;
}

#menu a
{

	font-size:16px;
	/*font-family:arial, sans;*/
	text-decoration:none;
	color:#ededed;
	display:block;
	border:solid #cccccc;
	/*border-width:0px 1px 1px 1px;*/
    border-width:0px;
	padding:5px;
    padding-top:10px;
    padding-bottom:10px;
	background: transparent;
}

#menu a:hover
{
	
	text-decoration:underline;
	color:#fbfbfb;
	background: #0fb1dd;
    text-decoration:none;

}

#menu a.sub_module 
{

	color:#6183b1;
	background-color: #fbfbfb;
	text-decoration:none;
	
}

.menu_title
{

	padding:5px;
	font-size:18px;
	font-family:"Roboto", sans, serif;
	font-weight:bold;
	/*background-image:url('../images/background_title.png');
	background-position:top;
	background-repeat: repeat-x;*/
	background-color: #003c95;
	/*border:solid #cccccc;
	border-width:0px 1px 1px 1px;*/
	color: #fbfbfb;
    overflow: hidden;
    box-sizing: border-box;
    

}

.father_admin {
    
    font-family:"Roboto", sans, serif;
    padding:5px;
    font-size:18px;
    display: block;
    color: #fbfbfb;
    font-weight:bold;
    background: #000;
    /*
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );*/

    
}

#menu ul {

    margin:0px;
    /*border: solid #000 1px;*/
    padding:0px;
}

#menu li {

    border-width: 0px;

}

.content_admin 
{

	margin:auto;
    background: rgba(18,47,59,1);
    background: -moz-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18,47,59,1)), color-stop(51%, rgba(18,47,59,1)), color-stop(74%, rgba(18,47,59,1)), color-stop(100%, rgba(8,59,77,1)));
    background: -webkit-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    background: -o-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    background: -ms-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    background: linear-gradient(to right, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    background-size: 20% 100%;
    background-repeat:no-repeat;
	padding:0px;
	border:solid #bcbcbc;
	border-width: 0px;
	font-size:16px;
	position:relative;
	overflow:auto;
    border: solid #cbcbcb;
    border-width: 0px 0px 1px 0px;
    min-height: 90vh;
}

.content_admin i {

    margin-right: 10px;

}

.contents
{
	float:right;
	width:80%;
	padding:0px 0px 0px 0px;
    box-sizing: border-box;
}

.content
{
	padding:0px 10px 5px 10px;
	/*border: solid #000 1px;*/
	
}

.title
{

	font-size:18px;
	font-weight:bold;
	font-family:helvetica, sans;
	text-decoration:none;
	color:#fbfbfb;
	padding:5px;
	/*background-image:url('../images/background_title.png');
	background-position:top;
	background-repeat: repeat-x;*/
	background-color: #337ab7;
	border-radius: 8px 8px 0px 0px;
	border:solid #337ab7;
	border-width:1px 0px 1px 0px;
    margin-top:8px;
}

#inform {

	margin:auto;

}

/*Styles for common templates...*/

.form {
    
    border: solid #cbcbcb 1px;
    padding:10px;
    margin:10px 0px 10px 0px;
    border-radius:5px;
    
}

.form textarea {

	width:100%;
	height:200px;

}

.form label {
	display: block;
	/*width: 150px;*/
	float: left;
	margin-bottom: 20px;
	text-align: left;
	width: 350px;
	padding-right: 20px;
	/*border: #000000 solid;
	border-width:1px;*/

}



.form p {
	clear: left;
}

img {

display:block;

}

.panel {

display:block;
float:left;
/*clear:left;*/
text-align:center;
border: #000000 solid;
border-width:0px;
min-width:200px;
width:200px !important;
padding:0px;
margin:0px;
min-height:100px;
height:100px !important;
position:relative;


}

.panel p {

position:absolute;
bottom:0px;
/*padding-bottom:0px;*/
text-align:center;

margin-left:auto;
margin-right:auto;

}

.panel img {

margin-left:auto;
margin-right:auto;

}

.table_list {

	width:100%;
    border:solid #cccccc;
	border-width:1px;
    margin:0px;
    box-sizing: border-box;

}

.title_list td, .fields_span_title {

    margin:0px;
	padding:4px;
	/*background-image:url('../images/background_title.png');
	background-position:top;
	background-repeat: repeat-x;*/
    background: #ccc;
	font-size:14px;
	font-weight:bold;
    box-sizing: border-box;    
    /*border: solid #000 1px;*/

}

.fields_span_title, div.options_td , div.fields_span_table_data {

    box-sizing: border-box;
    display:inline-block;
    float:left;
    /*margin-top:4px;*/
    /*border: solid #000 1px;*/
}

.tr_list_div , div.fields_span_table_data {

    margin-top:4px;
    margin-left: 4px;
    margin-right: 2px;

}

.row_list td, div.fields_span_table_data {

	/*border:solid #cccccc;
	border-width:1px;*/
	padding:4px;

}

div.fields_span_table_data {

    box-sizing: border-box;
    margin: 0px;

}

.cont_text, .cont
{

	margin:auto;
	background-color:#ffffff;
	padding:10px 10px 10px 10px;
	border:solid #cbcbcb;
	border-width: 0px 1px 1px 1px;
	font-size:14px;
	position:relative;
	overflow:auto;
	margin-bottom:10px;
	border-radius: 0px 0px 5px 5px;
	
}

.cont_top {
    
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}

.search {
    
    border-width: 1px;
    border-radius:5px;
    margin-top:5px;
    
}

.right_cont
{
	
	width:78%;
	
}

.none_cont
{
	
	/*width:100%;*/
	
}

.contview
{
	
	border:solid #cccccc;
	border-width:1px 1px 1px 1px;
	padding:15px;
	margin: 0px 0px 5px 0px;
	
}

.error
{

	color: #ff0000;
	font-weight:bold;
	
}

.hidden_form
{
	
	display: none;
	/*clear:left;*/
	
}

.no_hidden_form
{
	
	display: inline;
	/*float:left;
	clear:left right;*/
	
}

a.no_choose_flag
{

    filter: Alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
    display:inline-block;
	margin: 0px;
}

a.choose_flag
{

    filter: Alpha(opacity=100);
    -moz-opacity: 100;
    opacity: 1;
    display:inline-block;
    margin: 0px;

}

a:hover.no_choose_flag
{

        filter: Alpha(opacity=100);
        -moz-opacity: 100;
        opacity: 1;

}

#languages
{
	width:100%;
	clear:left;

}

/** input **/

#center_body input {

	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;
	background: #eeeeee;

}

#center_body input:hover {
	
	background: #fafafa;
	
}

#center_body input[type="submit"], #center_body input[type="button"]
{
	
	font-family: helvetica, arial,sans;
	font-size:16px;
	border-radius:5px;
    border: solid #205081 1px;
	background: #205081;
    padding: 5px 10px 5px 10px;
    font-weight:bold;
    color: #fbfbfb;
	
}

#center_body input[type="button"]
{

    background:  #f0ad4e;
    border: solid #f0ad4e 1px;

}

#center_body input:hover[type="submit"]
{
	
	background: #104070;
    cursor: pointer;
	
}

#center_body input:hover[type="button"]
{
	
	background:  #d09c3d;
    cursor: pointer;
	
}

#center_body input[type="text"]
{

    width:500px;

}

#center_body textarea {

	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;

}

#center_body select {

	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;

}

#languages_general, #logout
{

	position:absolute;
	margin: 0px 0px 0px 0px;
	top:54px;
	z-index:3;
	right:0px;
	width:50px;
	
}

#languages_general {

    top:8px;
    right:5px;
    height:10px;

}

#logout
{

	top:8px;
	right:10px;
    width:55px;
	font-weight:bold;
	font-size:10px;
    text-decoration: none;
    /*border: solid #000 1px;*/
}

#logout a {

    text-decoration: none;

}

a.no_choose_flag_general
{
	
	filter: Alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	float:left;
	margin: 2px;
	
}

a.choose_flag_general
{
	
	filter: Alpha(opacity=100);
	-moz-opacity: 100;
	opacity: 100;
	float:left;
	margin: 2px;
	
}

a:hover.no_choose_flag_general
{
	
	filter: Alpha(opacity=100);
	-moz-opacity: 100;
	opacity: 100;
	float:left;
	margin: 2px;
	
}

a.form_button_tab, a.form_button_tab_selected
{
	
	border: solid #121212 1px;
	border-radius:10px;
	padding:10px;
	display:inline-block;
	text-decoration:none;
	color:#fbfbfb;
	background: #000;
	
}

a.form_button_tab_selected
{
	
	background:#fbfbfb;
	color: #000;
	
}

a.form_button_tab:hover
{

	
	color:#000;
	background:#fbfbfb;
	
}

.flash 
{
	border-radius:15px;
	margin-top:15px;
	padding:25px;
	color:#fbfbfb;
	text-shadow:#000000 1px 1px 1px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=130, Strength=4);
	
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	
}

#toggle {

    position:absolute;
    left:10px;
    top:0px;
    z-index:1;
    display:none;
    

}

#toggle span {

    display:none;

}

.first_canvas {

    width:48%;
    float:right;

}

.other_canvas {

    width:48%;
    float:left;

}

.my_arrow_right {

    position: absolute;

}

.little_textarea {

    height: 50px !important;

}

/* Media queries */

@media only screen and (max-width: 800px) {

    .content_admin {

        background: transparent;
        
    }
    
    #toggle {
    
        display:block;
    
    }
    
    #toggle span {

        display:none;

    }
    
    .contents {
    
        width:100%;
    
    }
    
    #menu {
    
        width:100%;
    
    }
    
    #menu a {
    
        background: rgba(18,47,59,1);
        background: -moz-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18,47,59,1)), color-stop(51%, rgba(18,47,59,1)), color-stop(74%, rgba(18,47,59,1)), color-stop(100%, rgba(8,59,77,1)));
        background: -webkit-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
        background: -o-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
        background: -ms-linear-gradient(left, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
        background: linear-gradient(to right, rgba(18,47,59,1) 0%, rgba(18,47,59,1) 51%, rgba(18,47,59,1) 74%, rgba(8,59,77,1) 100%);
    
    }
    
    #title_phango
    {
        font-size:18px;
        text-align:center;
        color: #555555;        
        border: solid #000 0px;
    }
    
    #title_framework
    {
    
        display:none;
    
    }
    
    #header {
    
        text-align:center;
    
    }
    
    .ip_td {
    
        display:none;
    
    }
    
    .num_updates_td {
    
        display:none;
    
    }
    
    .first_canvas {

        width:100%;
        clear:both;

    }
    

    .other_canvas {

        width:100%;
        clear:both;

    }
    
}

